#!/usr/sbin/nft -f

# {{ ansible_managed }}

flush ruleset

table ip filter {
{% for CHAIN in FW_TABLE_IP_FILTER_CHAINS %}
  chain {{ CHAIN.NAME }} {
{% if CHAIN.FW_HOOK_ATTACHMENT is defined and CHAIN.FW_HOOK_ATTACHMENT | length > 0 %}
    {{ CHAIN.FW_HOOK_ATTACHMENT }}
{% endif %}
{% if CHAIN.RULES is iterable %}
{% for RULE in CHAIN.RULES %}
    {{ RULE }}
{% endfor %}
{% endif %}
  }
{% endfor %}
}

table ip nat {
{% for CHAIN in FW_TABLE_IP_NAT_CHAINS %}
  chain {{ CHAIN.NAME }} {
{% if CHAIN.FW_HOOK_ATTACHMENT | length > 0 %}
    {{ CHAIN.FW_HOOK_ATTACHMENT }}
{% endif %}
{% if CHAIN.RULES is iterable %}
{% for RULE in CHAIN.RULES %}
    {{ RULE }}
{% endfor %}
{% endif %}
  }
{% endfor %}
}
